*{
    letter-spacing: 0.5px;
}

#container {
    width: 1000px;
    overflow: hidden;
    /* margin-top: 90px; */
    z-index: 1000;
}

#container .row {
    height: 100vh;
}

#sign-up {
    padding: 0;
    background: url("../../../public/assets/images/Login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-up-right {
    background-color: #f7f7f7;
}

#title {
    white-space: nowrap;
    display: inline;
    background-color: aquamarine;
}

/* Đường Link */
.router {
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--main-color);
}

.router:hover {
    color: var(--main-color-hover);
}

/* button */
.btn-signup {
    border-radius: 5px;
    background-color: var(--main-color);
    width: 100%;
}

.btn-signup:hover {
    background: var(--main-color-hover);
}

/* label */
.label {
    text-align: left;
}

.label label {
    margin-bottom: 3px;
    margin-left: 3px;
}

/* input focus */
#form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem var(--color-checkbox);
}

